# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env.local
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略所有 .env 相关文件（除了示例文件 .env.example）
.env
.env.local
.env.development
.env.production
.env.test
!.env.example  # 感叹号表示“不忽略”，通常用于存放示例配置（不含敏感信息）
